In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from itertools import groupby
plt.close("all")
np.random.seed(2017)


def print_longest_streak(x):
    lst = []
    for n,c in groupby(x):
        num,count = n,sum(1 for i in c)
        if num==1:
            lst.append(count)
    return max(lst)

In [3]:
def pmf_longest_streak(n, tries):
    
    df = pd.DataFrame(index=np.arange(tries))
    df["streak_arr"] = "" 
    df["streak_arr"] = df["streak_arr"].apply(lambda x : np.random.randint(low=0, high=2, size=n))
    df["max_streak"] = df["streak_arr"].apply(lambda x : print_longest_streak(x))
    
    
    

        
    # Write your Monte Carlo code here, n is the length of the sequence and tries is the number
    # of sampled sequences used to produce the estimate of the pmf

n_tries = [1e3,5e3,1e4,5e4,1e5]

n_vals = [5,200]

color_array = ['orange','darkorange','tomato','red', 'darkred', 'tomato', 'purple', 'grey', 'deepskyblue', 
               'maroon','darkgray','darkorange', 'steelblue', 'forestgreen', 'silver']
for ind_n in range(len(n_vals)):
    n = n_vals[ind_n]
    plt.figure(figsize=(20,5))
    for ind_tries in range(len(n_tries)):
        tries = n_tries[ind_tries]
        print "tries: " + str(tries)
        pmf_longest_tries = pmf_longest_streak(n, np.int(tries))
        plt.plot(range(n+1),pmf_longest_tries, marker='o',markersize=6,linestyle="dashed",lw=2,
                 color=color_array[ind_tries],
                 markeredgecolor= color_array[ind_tries],label=str(tries))
    plt.legend()
    
print "The probability that the longest streak of ones in a Bernoulli iid sequence of length 200 has length 8 or more is "
print # Compute the probability and print it here

SyntaxError: invalid syntax (<ipython-input-3-9aca1e1c0762>, line 20)

In [10]:
x = [0,1,1,0,0,1]

lst=[]
for n,c in groupby(x):
    num,count = n,sum(1 for i in c)
    if num==1:
        lst.append(count)

In [11]:
lst

[2, 1]

In [12]:
pd.DataFrame(index=[np.arange(35)])

Empty DataFrame
Columns: []
Index: [(0,), (1,), (2,), (3,), (4,), (5,), (6,), (7,), (8,), (9,), (10,), (11,), (12,), (13,), (14,), (15,), (16,), (17,), (18,), (19,), (20,), (21,), (22,), (23,), (24,), (25,), (26,), (27,), (28,), (29,), (30,), (31,), (32,), (33,), (34,)]

In [13]:

df = pd.DataFrame(index=np.arange(20))
df["streak_arr"] = "" 
df["streak_arr"] = df["streak_arr"].apply(lambda x : np.random.randint(low=0, high=2, size=10))

In [16]:
df["max_streak"] = df["streak_arr"].apply(lambda x : print_longest_streak(x))

In [20]:
df

                        streak_arr  max_streak
0   [1, 1, 0, 1, 0, 0, 0, 0, 1, 1]           2
1   [1, 1, 0, 0, 0, 0, 0, 1, 1, 0]           2
2   [0, 0, 0, 0, 1, 0, 1, 1, 1, 0]           3
3   [1, 1, 1, 1, 0, 1, 0, 0, 0, 0]           4
4   [0, 1, 0, 0, 0, 1, 0, 1, 0, 1]           1
5   [0, 0, 1, 1, 1, 0, 1, 0, 0, 1]           3
6   [1, 0, 1, 1, 1, 0, 0, 0, 0, 0]           3
7   [1, 1, 1, 1, 0, 1, 0, 1, 0, 0]           4
8   [1, 0, 1, 0, 0, 0, 1, 1, 1, 1]           4
9   [0, 1, 1, 0, 1, 1, 0, 0, 1, 1]           2
10  [1, 0, 0, 0, 0, 0, 1, 1, 0, 0]           2
11  [1, 1, 0, 1, 0, 1, 1, 0, 0, 0]           2
12  [0, 0, 1, 0, 1, 1, 0, 1, 0, 1]           2
13  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1]           4
14  [0, 1, 1, 0, 1, 1, 1, 1, 0, 0]           4
15  [1, 1, 0, 1, 0, 1, 1, 0, 0, 0]           2
16  [0, 0, 1, 1, 1, 1, 0, 1, 1, 0]           4
17  [0, 0, 0, 1, 1, 1, 1, 0, 1, 0]           4
18  [0, 0, 1, 1, 1, 0, 1, 0, 0, 0]           3
19  [0, 1, 0, 0, 0, 0, 0, 1, 1, 0]           2

In [25]:
new =df.groupby("max_streak")["max_streak"].count()

In [28]:
new

max_streak
1    1
2    8
3    4
4    7
Name: max_streak, dtype: int64