In [2]:
import googlemaps as gm
import pandas as pd
import datetime as dt

In [3]:
gmap = gm.Client(key="AIzaSyBf--XVkqsk2M5O0eclgdMycxf486qHPCA")

In [76]:
def construct_distance_dataframe(origins, destinations, mode="walking", departure_time=None):
    """
    This Functions takses in origins and destinations and returns the travel duration for
    all combinations of origins and destinations:
    
    Args:
    origins(list) : must contain unambiguous origins that google api can interpret
    destinations(list) : same as above
    mode(str) : travel mode to pass in. Default is 'walking'
    departure_time(datetime-like objects): can only pass in "future" times
    
    Returns:
    A DataFrame with columns origins(str), destination(str), duration(float)
    
    """
    
    out_df = pd.DataFrame({"origins":origins})
    if departure_time is None:
        departure_time = dt.datetime.now + pd.DateOffset(days=1)
    
    result_dict = gmap.distance_matrix(origins, destinations, mode=mode, departure_time=departure_time)
    for o in range(len(out_df["origins"])):
        for d in range(len(destinations)):
            duration_str = result_dict["rows"][o]["elements"][d]["duration"]["text"]
            out_df.loc[o,destinations[d]] = float(duration_str.split(" ")[0])
        
    melt = out_df.melt(id_vars="origins", value_vars=destinations, var_name="destination", value_name="duration")    
    
    return melt

In [77]:
test_origin = ["Bobst Library","Time Square Hotel"]
test_destination = ["Madison Square Park","Union Square"]

df = construct_distance_dataframe(origins=test_origin, destinations=test_destination)

Bobst Library
20 mins
12 mins
Time Square Hotel
29 mins
39 mins

In [81]:
min_duration = df.groupby("origins")["duration"].min().reset_index()

In [80]:
min_duration

origins
Bobst Library        12.0
Time Square Hotel    29.0
Name: duration, dtype: float64

In [78]:
df

             origins          destination  duration
0      Bobst Library  Madison Square Park      20.0
1  Time Square Hotel  Madison Square Park      29.0
2      Bobst Library         Union Square      12.0
3  Time Square Hotel         Union Square      39.0